.dataTables_length {
    width: 25%;
    margin: 0;
    float: left;
}
.dataTables_length label {
    display: inline-flex;
}
.dt-buttons {
    float: left;
}
.dataTables_filter {
    width: 25%;
    margin: 0;
    float: right;
}
.error {
    color: red !important;
}
.dataTables_empty{
    text-align: center;
}
.hide{
    display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: black;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #000;
}
